@font-face {
    font-family: 'Bold';
    src: url('../fonts/Nunito-ExtraBold.ttf');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Medium';
    src: url('../fonts/Nunito-SemiBold.ttf');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Regular';
    src: url('../fonts/Nunito-Medium.ttf');
    font-style: normal;
    font-display: swap;
}

$font-regular:'Regular';
$font-medium: 'Medium';
$font-bold: 'Bold';
$box-shadow: 0px 4px 8px $color-t-gray;